.wrapper
  .chat-main
    .group-info
      .left-box
        .current-group
          = @group.name
        %ul.member-list 
          Member: 
          %li.member
            - @group.users.each do |user|
              = user.name
      = link_to edit_group_path(@group.id), class: "edit-btn" do
        edit
    .message-list
      = render @messages
    .message-form
      = form_with model: [@group,@message], html: {class:"new-message"},local: true do |f|
        .message-box 
          = f.text_field :content, placeholder: 'type a message', class:'text'
          = f.label :image,class:'image' do
            = icon('far fa-image', class:"form-icon")
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'commit'